root { 
    display: block;
}

.cell-toolbar {
	-fx-background-color: #646464;
}

.round-button {
	-fx-pref-width: 24;
	-fx-pref-height: 24;
}

.icon-button > .icon-svg {
	-fx-background-color: white;
}

.prepend-cell-vbox > .prepend-cell-button {
	-fx-opacity: 0%;
	-fx-cursor: hand;
}

.prepend-cell-vbox:hover > .prepend-cell-button {
	-fx-opacity: 100%;
}

.prepend-cell-button {
	-fx-pref-width: 16;
	-fx-pref-height: 16;
}

.cell-panel {
	-fx-border-width: 0 1 1 0;
    -fx-border-color: #707070;
}

.cell-name {
	-fx-background-color:  #646464;
	-fx-border-width: 0;
	-fx-text-fill:  #FFFFFF;
	-fx-font-size: 12;
}

.panel-content {
	-fx-background-color: #FFFFFF;
}

.dropdown-button .arrow-button  {
    -fx-opacity: 0.0;
}

.dropdown-button {
	-fx-background-color: #FFFFFF;
}