/* Class to set the background to the chosen grey tonality for the Cell */
.cell-toolbar, .bg-gray {
	-fx-background-color: #646464;
}

/* Hide prepend cell button if not hovered */
.prepend-cell-vbox > .prepend-cell-button {
	-fx-opacity: 0%;
	-fx-cursor: hand;
}

/* Show prepend cell button when hovered */
.prepend-cell-vbox:hover > .prepend-cell-button {
	-fx-opacity: 100%;
}

/* Set the size of round buttons inside the cells */
.cell-layout .round-button {
	-fx-pref-width: 24;
	-fx-pref-height: 24;
}

/* Set size of round buttons inside cells */
.cell-layout .round-button.prepend-cell-button {
	-fx-pref-width: 16;
	-fx-pref-height: 16;
}

/* Change color of round button inside cells, on hover */
.cell-layout .round-button.prepend-cell-button:hover {
	-fx-background-color: #646464;
}

/* Adds border to cells */
.cell-panel {
	-fx-border-width: 0 1 1 0;
    -fx-border-color: #707070;
}

/* Style label containing the cell name */
.cell-name {
	-fx-background-color: #646464;
	-fx-border-width: 0;
	-fx-text-fill:  #FFFFFF;
	-fx-font-size: 16;
}

/* Background of cells */
.panel-content {
	-fx-background-color: #FFFFFF;
}